* {
    box-sizing: border-box;
}
body {
    background-image: url('https://images.unsplash.com/photo-1665947605565-b5e27c3d56cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(242, 239, 248);
}